/*Lines from T-Bone*/
/*style for the table*/
table {
  margin: 50px auto;
  border: 1px solid black;
  width: auto;
}

/*styling for each th and td for headers*/
th {
font-weight: bolder;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 1px solid black; 
padding: 10px; 
text-align: center;
}

td {
font-weight: normal;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border: 1px solid black; 
padding: 10px; 
text-align: center;
}

/*styling for add_user_form*/ 
#add_user_form {
border: 1px solid black;
width: fit-content;
margin: 10px auto;
}

form > div > div{
margin-top: 10px;
}