
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(62, 62, 63);
    color: rgb(255, 255, 255);
  }
 .topnav{
   margin:auto;
 }




.btn_Post{
    background-color: rgb(184, 183, 182);
    opacity: 100%;
    margin-left: 90%;
    margin-top: 10px;
    padding: 5px 20px;
    border:0px solid;
    border-radius: 5px;
    opacity: 20%;
}
.btn_Post:hover{
    opacity: 100%;
}
.ip1{
    border: 1px solid;
    border-radius: 10px;
}
div.left {
  background-color: #fbfbfb;
  /* border: 2px solid black; */
  padding: 0px;
  overflow-y: scroll;
  height: 665px;
  border: 1px solid #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 25%;
  z-index: -1;
}
.fixed-div{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}
.centered-div {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */

}